.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav.navbar {
  box-shadow: 0px 1px 10px black;
}

.jumbotron {
  background: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}

.card-width {
  max-width: 100%;
}

.bg-dark-brown {
  background-color: rgb(77, 50, 50);
}

.bg-gradient-brown {
  background: rgb(42,42,45);
  background: linear-gradient(180deg, rgba(42,42,45,1) 0%, rgba(52,39,47,1) 20%, rgba(77, 50, 50,1) 100%);
}
