<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <span uk-icon="icon: world; ratio: 3"></span>

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/saved-articles">Saved Articles</a></li>
            <li><a href="/scrape-articles">Scrape Articles</a></li>
            <li><a href="#">Clear</a></li>
        </ul>

    </div>
</nav>

<h1 class="uk-heading-line uk-text-center uk-heading-large"><span>Welcome to Dollar Scrape!</span></h1>

<div class="uk-container" id="article-container">
{{#each article}}
    <h3>{{title}}</h3>
    <a>{{link}}</a>
    {{/each}}
</div>