<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <span uk-icon="icon: world; ratio: 3"></span>

        <ul class="uk-navbar-nav">
            <li class=""><a href="/">Scrape Articles</a></li>
            <li class="uk-active"><a href="/saved-articles">Saved Articles</a></li>
            <li><a id="clear-btn">Clear</a></li>
        </ul>

    </div>
</nav>

<h1 class="uk-heading-line uk-text-center uk-heading-large"><span>Saved Articles</span></h1>

<div class="uk-container">
{{#each articles}}
<div class="saved-article uk-container uk-card uk-card-default uk-margin-bottom">
<h3 class="uk-text-center">{{title}}</h3>
    <div class="uk-text-center uk-text-success">
        <a class="uk-link-text" target="_blank" href="{{url}}">{{url}}</a>
    </div>
    <div class="uk-text-center uk-margin-top uk-margin-bottom">
        <button class="uk-button uk-button-secondary uk-margin-medium-right uk-column-1-6">Add Note</button>
        <button class="uk-button uk-button-danger uk-margin-medium-left uk-column-1-6">Delete Article</button>
    </div>
</div>
<hr class="uk-divider-icon">

{{/each}}

</div>