<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <span uk-icon="icon: world; ratio: 3"></span>

        <ul class="uk-navbar-nav">
            <li class=""><a href="/scrape-articles">Scrape Articles</a></li>
            <li class="uk-active"><a href="/saved-articles">Saved Articles</a></li>
            <li><a id="clear-btn">Clear</a></li>
        </ul>

    </div>
</nav>